<!DOCTYPE html>
<html>
  <head>
    <title>Pseudocode Compiler</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>Pseudocode Compiler</h1>
    <p>Welcome to this page!</p>
  </body>
</html>
