<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <title>Pseudocode Compiler</title>
    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='/css/style.css' />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    

    <!-- Custom styles for this template -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Rapydscript stuff -->
    <link rel=stylesheet href=rapyd/codemirror/lib/codemirror.css>
    <script src=rapyd/codemirror/lib/codemirror.js></script>
    <script src=rapyd/codemirror/mode/python/python.js></script>
    <script src=rapyd/codemirror/mode/javascript/javascript.js></script>
    <script type="text/javascript" src="rapyd/rapydscript/lib/utils.js"></script>
    <script type="text/javascript" src="rapyd/rapydscript/lib/ast.js"></script>
    <script type="text/javascript" src="rapyd/rapydscript/lib/baselib.js"></script>
    <script type="text/javascript" src="rapyd/rapydscript/lib/output.js"></script>
    <script type="text/javascript" src="rapyd/rapydscript/lib/parse.js"></script>
    <script type="text/javascript" src="rapyd/importer.js"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Pseudocode Compiler</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="row button-row">
      <input type="button" class="btn btn-lg btn-primary" id="compileit" value="Compile to Javascript">
    </div>
    <div class="row" id="textareas">
      <textarea id=code name=code>
define a new function factorial of n 
	if n is equal to 0
		return 1
	return n times factorial of (n minus 1)

factorial of (5 plus 6) - 266</textarea>
      <textarea class=output id=preview></textarea>
    </div>
    <div class="row button-row">
      <input type="button" class="btn btn-lg btn-primary" id="runit" value="Run Javascript">
    </div>
    <div class "row">
      <div id='console-wrapper'>
        <div id='console'></div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/converter.js"></script>
    <script>
      var js = '';
      var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
        mode: 'text',
        indentUnit: 4,
        lineNumbers: true,
        autofocus: true,
        tabSize: 4,
        indentUnit: 4,
        indentWithTabs: true
      });
      var preview = CodeMirror.fromTextArea(document.getElementById('preview'), {
        mode: 'text/javascript',
        lineNumbers: true,
        theme: 'default',
        readOnly: true
      });
      
      //RapydScript options
      var rs_options = {
        "filename":"demo",
        "toplevel":null,
        "basedir": null,
        "libdir": null
      };
      var output_opts = {
        "beautify":true,
        "private_scope":false,
        "omit_baselib":true
      };

      function updatePreview(from_error) {
        var rapydscript_string = change(editor.getValue());
        output = OutputStream(output_opts)
        rapydscript_string += '\n'; //just to be safe
        alert(rapydscript_string);
        try {
          TOPLEVEL = parse(rapydscript_string, rs_options);
          TOPLEVEL.print(output);
          js = String(output);
          preview.setValue(js + '\n');
        } catch(err) {
          if (from_error) {
              preview.setValue("ERROR: " + err.message + ". Line " + err.line + ", column " + err.col + ".");
          }
        }
      }
      
      var timeout;
      
      editor.on('keyup', function() {
        timeout = setTimeout(updatePreview, 1000);
      });
      
      editor.on('keydown', function() {
        clearTimeout(timeout);
      });
      
      $('#compileit').click(function(){
        updatePreview();
      });
      
      $('#runit').click(function(){
        var result = eval(js);
        $('#console').append('<p>' + result + '</p>');
        $("#console").scrollTop($("#console")[0].scrollHeight);
      });
    </script>
  </body>
</html>
